.vent-cards-conatiner {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2em auto;
}


.vent-card {
  flex: 1;
  width: 80%;
  background: var(--background-card);
  border: 1px solid var(--background-secondary);
  border-radius: 5px;
  padding: 2em;
  margin: 0.5em auto
}

.vent-card hr {
  margin: 0.5em 0;
}

.vent-card p {
  margin: 0.5em 0;
}

.vent-card button {
  background: var(--accent);
  color: var(--heading);
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
}
